
.DS_Store
ios/iPhoneOS.sdk
ios/iPhoneSimulator.sdk
ios/MessageQueue.sdk
ios/Supermap.xcodeproj/project.xcworkspace/xcuserdata/xianglongli.xcuserdatad/
ios/Supermap.xcodeproj/xcuserdata/xianglongli.xcuserdatad/

android/imobile_for_reactnative.iml
android/local.properties
android/rnsupermap.iml
android/android.iml
android/build
android/gradle
android/build.gradle
android/gradle/wrapper/gradle-wrapper.jar
android/gradle/wrapper/gradle-wrapper.properties
android/src/.gradle/3.4.1/file-changes/last-build.bin
android/src/.gradle/3.4.1/taskHistory/fileSnapshots.bin
android/src/.gradle/3.4.1/taskHistory/taskHistory.bin
android/src/.gradle/3.4.1/taskHistory/taskHistory.lock
android/src/.gradle/buildOutputCleanup/built.bin
android/src/.gradle/buildOutputCleanup/cache.properties
android/src/.gradle/buildOutputCleanup/cache.properties.lock
android/build.gradle
android/.idea
android/.gradle
android/libs
android/src/main/java/com/supermap/.gradle
