
.DS_Store
ios/iPhoneOS.sdk
ios/iPhoneSimulator.sdk
ios/MessageQueue.sdk

android/imobile_for_reactnative.iml
android/local.properties
android/rnsupermap.iml
android/android.iml
android/build
android/gradle
android/.idea
android/src/.gradle
android/libs
